<p><b>Accounts</b></p>
<table class="table">
  <tr>
    <th>Name</th><th>Balance</th>
  </tr>
<% if @accounts.empty? %>
  <tr><td colspan="2"><span class="warning">No accounts created yet.</span></td></tr>
<% else %>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to account.name, line_items_profile_account_account_path(@profile_account, account) %></td>
      <td><%= number_to_currency(account.balance) %></td>
    </tr>
  <% end %>
<% end %>
  <tr>
    <td colspan="2">
      <%= link_to "New Account", new_profile_account_account_path(@profile_account) %>
    </td>
  </tr>
</table>
