<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Balance:</b>
</p>


<%= link_to 'Edit', edit_profile_account_account_path(@profile_account,@account) %> |
<%= link_to 'Back', profile_account_path(@profile_account) %>
